---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { name, price, stock, slug, cover } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={name} description={name} />
  </head>

  <body>
    <Header />
    <main>
      <a class="btn btn-link" href="/blog">
        {"<- Back to Blog"}
      </a>
      <article>
        <div class="hero-image">
          {
            cover.url && (
              <img width={1020} height={510} src={cover.url} alt="" />
            )
          }
        </div>
        <!-- <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div> -->
      </article>
    </main>
    <Footer />
  </body>
</html>
